<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS -->
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	    <link rel='stylesheet' href='/lib/stylesheets/codemirror.css' />
	    <link rel='stylesheet' href='/lib/stylesheets/theme/monokai.css' />
    <!-- END CSS -->
  </head>
  <body>

  	<!-- Header -->
  	<header>
  		<nav>

  		</nav>
  	</header>
  	<!-- END Header -->

  	<!-- content -->
  	<div id="content">
  		<div id="editor"></div>
  	</div>
  	<!-- END content -->

    <!-- Scripts -->
	    <script type="text/javascript" src="/lib/javascripts/jquery.min.js"></script>
	    <script type="text/javascript" src="/lib/javascripts/jquery-ui.min.js"></script>
	    <script type="text/javascript" src="/lib/javascripts/codemirror.js"></script>
	    <script type="text/javascript" src="/lib/javascripts/mode/javascript.js"></script>
	    <script type="text/javascript" src="/lib/javascripts/addon/matchbrackets.js"></script>
	    <script type="text/javascript" src="/lib/javascripts/addon/matchtags.js"></script>
	    <script type="text/javascript" src="/javascripts/myScript.js"></script>
    <!-- END Scripts -->
  </body>
</html>