<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS -->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/lib/stylesheets/font-awesome-4.0.0/css/font-awesome.min.css" />
	    <link rel='stylesheet' href="/lib/stylesheets/codemirror.min.css" />
	    <link rel='stylesheet' href="/stylesheets/style.css" />
	    <!-- Themes -->
	    	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css" />
	    <!-- END Themes -->
    <!-- END CSS -->
  </head>
  <body ng-app="MyApp">

    <div id="global" ng-view="">

    </div>
  	
    <!-- Scripts -->
    <script type="text/javascript" src="/lib/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/lib/javascripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/javascripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/javascripts/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
    <!-- Code Mirror -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/fold/foldcode.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/edit/matchbrackets.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/edit/closebrackets.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/search/match-highlighter.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/mode/overlay.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/comment/continuecomment.min.js"></script>
    <!-- END Code Mirror -->
    <!-- Languages -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/javascript/javascript.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/css/css.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/go/go.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/sql/sql.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/php/php.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/python/python.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/ruby/ruby.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/shell/shell.min.js"></script>
    <!-- END Languages -->
	<script type="text/javascript" src="/lib/javascripts/faye.js"></script>
	<script type="text/javascript" src="/javascripts/myScript.js"></script>
    <!-- END Scripts -->
  </body>
</html>