@languageColor: #d0d0d0;
@selectedLanguageColor: #7b8a8b;
@sideColor: #F1F1F1;
@activeColor: #8D8E88;
@typeaheadMatchColor: #272822;

strong {
  color:@typeaheadMatchColor;
}
small {
  color:@activeColor;
}

.language {
  position:fixed;
  top:10px;
  right:320px;
  z-index: 1000;
  width:150px;
  outline:none;
  text-align:center;
  background-color: transparent;
  border:none;
  color: @languageColor;
  transition: all 0.5s ease;

  &:hover {
    color:@selectedLanguageColor;
    background-color: @sideColor;
  }

  &:focus {
    color:@selectedLanguageColor;
    background-color: @sideColor; 
  }
}

.user-icon, .chat-icon {
  cursor: pointer;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  &:hover {
    color: grey;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  cursor:pointer;
  background-color: @activeColor;
}
.dropdown-menu {
  min-width: 150px;

  &>.active>a>strong {
    color: @typeaheadMatchColor;
  }
}

/**
 * Animations
 */
.flip {
  position:absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  float:left;
  height:100%;
  width:100%;
  &.flipped {
    -webkit-transform: rotatey(-180deg);
  }
}

#chat-container {
  z-index: 1;
}

#users-container {
  -webkit-transform: rotatey(-180deg);
}