@import "../lib/stylesheets/bootstrap-responsive.css";

@languageColor: #d0d0d0;
@selectedLanguageColor: #7b8a8b;
@sideColor: #F1F1F1;
@activeColor: #8D8E88;
@typeaheadMatchColor: #272822;

@screen-xs-min: 0px;
@screen-sm-min: 750px;
@screen-md-min: 970px;
@screen-lg-min: 1170px;
@screen-xs-max: 749px;
@screen-sm-max: 969px;
@screen-md-max: 1169px;

strong {
  color:@typeaheadMatchColor;
}
small {
  color:@activeColor;
}

#chat-container {
  z-index: 1;
}

#users-container {
  -webkit-transform: rotatey(-180deg);
}

.language {
  position:fixed;
  top:10px;
  right:320px;
  z-index: 1000;
  width:150px;
  outline:none;
  text-align:center;
  background-color: transparent;
  border:none;
  color: @languageColor;
  -webkit-transition: background-color 0.5s, color 0.5s;
          transition: background-color 0.5s, color 0.5s;

  &:hover {
    color:@selectedLanguageColor;
    background-color: @sideColor;
  }

  &:focus {
    color:@selectedLanguageColor;
    background-color: @sideColor; 
  }
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  cursor:pointer;
  background-color: @activeColor;
}
.dropdown-menu {
  min-width: 150px;

  &>.active>a>strong {
    color: @typeaheadMatchColor;
  }
}

.flip {
  position:absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  float:left;
  height:100%;
  width:100%;
  &.flipped {
    -webkit-transform: rotatey(-180deg);
  }
}

.side-user {
  cursor:pointer;
  &:hover {
    background-color: lightgray;
  }
}

.user-icon, 
.chat-icon {
  cursor: pointer;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  &:hover {
    color: grey;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media only screen and (max-device-width: @screen-xs-max) {

  #content {
    width: 100%;
  }

  #side {
    display:none;
  }

  .language {
    right: 0px;
  }

  .modal-dialog {
    width:auto;
  }
}