body {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

li, ul, nav, body, pre {
	margin:0;
	padding:0;
}

li {
	list-style-type: none;
}

/*
IDs --------------------------------------------
*/
#global {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#content {
	position:relative;
	float:left;
	height:100%;
	width:80%;
}

#side {
	position:relative;
	float:left;
	height:100%;
	width:20%;
}

#side-tabs-container {
	position:relative;
	float:left;
	height:50%;
	width:100%;
	background-color: lightgray;
}

#side-tabs {
	float:left;
	height: 80%;
	width: 100%;
}

#side-chat-container {
	display:block;
	background-color:purple;
	position:relative;
	float:left;
	height:50%;
	width:100%;
}

#side-chat-input {
	display:block;
	position:absolute;
	bottom:3px;
	left:0px;
	width:100%;
	padding-left:30px;
}

/*
Classes ---------------------------------------
*/
.editor {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

.file-filter {
	display:block;
	width:100%;
	float:left;
	padding-left:30px;
}

.message {
	margin: 4px 4px 0px 4px;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.subscribe {
	background-color:#468847;
	font-size:80%;
	color:white;
	text-align: center;
}

.unsubscribe {
	background-color: #b94a48;
	font-size:80%;
	color:white;
	text-align: center;
}

.tabs {
	margin-left: 8px;
}

