body {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

li, ul, nav, body, pre, input {
	margin:0;
	padding:0;
}

li {
	list-style-type: none;
}

/*
IDs --------------------------------------------
*/
#global {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#content {
	position:relative;
	float:left;
	height:100%;
	width:-webkit-calc(100% - 200px);
	width:-moz-calc(100% - 200px);
	width:calc(100% - 200px);
	background-color:gray;
}

#usersIcon {
	position:absolute;
	top:10px;
	right:20px;
}

#commentsIcon {
	position:absolute;
	top:60px;
	right:20px;
}

#side {
	position:relative;
	float:left;
	height:100%;
	width:200px;
}

#side-tabs-container {
	position:relative;
	float:left;
	height:100%;
	width:100%;
	background-color: lightgray;
}

#fileFilter {
	width:155px;
}

#side-tabs {
	float:left;
	height: 80%;
	width: 100%;
}

#side-chat-container {
	display:block;
	background-color:purple;
	position:relative;
	float:left;
	height:50%;
	width:100%;
}

#side-chat-input {
	display:block;
	position:absolute;
	bottom:3px;
	left:0px;
	width:-webkit-calc(100% - 4px);
	width:-moz-calc(100% - 4px);
	width:calc(100% - 4px);
}

#side-chat-messages {
	float:left;
	height:-webkit-calc(100% - 40px);
	height:-moz-calc(100% - 40px);
	height:calc(100% - 40px);
	width:100%;
	overflow-y:auto;
}

/*
Classes ---------------------------------------
*/
.editor {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

.file-filter {
	position:relative;
	display:block;
	width:-webkit-calc(100% - 4px);
	width:-moz-calc(100% - 4px);
	width:calc(100% - 4px);
	float:left;
}

.message {
	margin: 4px 4px 0px 4px;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.subscribe {
	background-color:#468847;
	font-size:80%;
	color:white;
	text-align: center;
}

.unsubscribe {
	background-color: #b94a48;
	font-size:80%;
	color:white;
	text-align: center;
}

.announcement {
	background-color: lightgray;
	font-size:90%;
	color:black;
	text-align:center;
}

.tabs {
	cursor:pointer;
	margin-left: 8px;
}

.tabs:hover {
	color:blue;
}

.userBlock {
	display:inline-block;
	height:15px;
	width:15px;
	-webkit-transform:translateY(3px);
	-moz-transform:translateY(3px);
	transform:translateY(3px);
}

