body {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  font:13px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

li, ul, nav, body, pre, input {
	margin:0;
	padding:0;
}

li {
	list-style-type: none;
}

/*
IDs --------------------------------------------
*/
#global {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#editor {
	position:relative;
	float:left;
	height:100%;
	width:100%;
}

#content {
	position:relative;
	float:left;
	height:100%;
	width:-webkit-calc(100% - 250px);
	width:-moz-calc(100% - 250px);
	width:calc(100% - 250px);
	background-color:gray;
}

#side {
	position:relative;
	float:left;
	height:100%;
	width:250px;
	background-color: #F1F1F1;
}

#side-tabs-container {
	position:relative;
	float:left;
	height:40%;
	width:100%;
}

#fileFilter {
	width:100%;
	padding:3px 5px;
}

#side-tabs {
	float:left;
	height: 80%;
	width: 100%;
}

#chat-container {
	display:block;
	float:left;
	position:relative;

	width: -webkit-calc(100% - 6px);
	width: -moz-calc(100% - 6px);
	width: -o-calc(100% - 6px);
	width: calc(100% - 6px);

	height: -webkit-calc(60% - 3px);
	height: -moz-calc(60% - 3px);
	height: -o-calc(60% - 3px);
	height: calc(60% - 3px);
	margin:0px 3px 3px 3px;
	background-color:#d1dbe3;
}

#side-chat-input {
	display:block;
	float:left;
	height:25px;
	line-height:25px;

	width: -webkit-calc(100% - 3px);
	width: -moz-calc(100% - 3px);
	width: -o-calc(100% - 3px);
	width: calc(100% - 3px);
}

#side-chat-messages {
	float:left;
	height:-webkit-calc(100% - 30px);
	height:-moz-calc(100% - 30px);
	height:calc(100% - 30px);
	width:100%;
	overflow-y:auto;
}

/*
Classes ---------------------------------------
*/

.cs-search-icon {
	position:absolute;
	top:11px;
	left:15px;
}

.file-filter {
	position:relative;
	display:block;
	width:-webkit-calc(100% - 4px);
	width:-moz-calc(100% - 4px);
	width:calc(100% - 4px);
	float:left;
}

.message {
	margin: 0px 4px 0px 4px;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.subscribe {
	font-size:90%;
	color:#468847;
}

.unsubscribe {
	font-size:90%;
	color:#b94a48;
}

.active {
	color:#2DB82D;
}

.tabs {
	cursor:pointer;
	margin-left: 8px;
}

.tabs:hover {
	color:blue;
}

.user-icon {
	position:absolute;
	top:6px;
	right:3px;
}

.userBlock {
	display:inline-block;
	height:10px;
	width:10px;
	border-radius:50%;
}

.modal-header {
	text-align:center;
}

.input-group-addon {
	background-color:white;
}
