<!-- content -->
<div id="content">
	<div class="editor"></div>
</div>
<!-- END content -->

<!-- side -->
<div id="side">

	<!-- tabs -->
	<div id="side-tabs-container">
		<!-- input -->
		<div class="input-prepend file-filter">
			<span class="add-on"><i class="fa fa-search"></i></span>
			<input type="text" placeholder="Search files" ng-model="query">
		</div>
		<!-- files -->
		<ul id="side-tabs">
			<li class="tabs" ng-repeat="file in files | filter:query track by $index">
				{{file}}
			</li>
		</ul>
	</div>
	<!-- END tabs -->

	<!-- chat -->
	<div id="side-chat-container">
		<ul id="side-chat-messages">
			<li ng-repeat="comment in comments track by $index" class="message" ng-class="comment.type">
				{{comment.text}}
			</li>
		</ul>
		<input id="side-chat-input"/>
	</div>
	<!-- END chat -->

</div>
<!-- END side -->