<!-- side -->
<div id="side">

	<!-- tabs -->
	<div id="side-tabs-container">
		
		<div class="input-prepend file-filter">
			<span class="add-on"><i class="fa fa-search"></i></span>
			<input id="fileFilter" type="text" placeholder="Search files" ng-model="query">
		</div>
		
		<ul id="side-tabs">
			<li class="tabs" ng-repeat="file in files | filter:query track by $index">
				<i class="fa fa-file"></i> <span ng-bind-html="to_trusted(file)"></span>
			</li>
		</ul>
	</div>
	<!-- END tabs -->

</div>
<!-- END side -->

<!-- content -->
<div id="content">
	<div id="editor" ui-codemirror="editorOptions"></div>

	<!-- Open chat -->
	<i id="chatOpenIcon" class="fa fa-comment fa-2x fa-fw fa-inverse" 
		ng-click="chatShow = !chatShow">
	</i>

	<!-- chat -->
	<div id="chat-container" ng-show="chatShow">
		<!-- Close Chat -->
		<i id="chatCloseIcon" class="fa fa-times fa-2x" ng-click="chatShow = !chatShow"></i>

		<ul id="side-chat-messages">
			<li ng-repeat="comment in comments track by $index" class="message" ng-class="comment.type" 
			ng-switch on="comment.category" ng-style="comment.color">

				<div ng-switch-when="showUsers">
					There are (<span ng-bind-html="to_trusted(comment.text)">?</span>) users online
				</div>

				<div ng-switch-default>
					<span class="userBlock" ng-style="{ backgroundColor: comment.color}" ></span>
					<span ng-bind-html="to_trusted(comment.text)">?</span>
				</div>

			</li>
		</ul>
		<input id="side-chat-input"/>
	</div>
	<!-- END chat -->

</div>
<!-- END content -->