<!-- content -->
<div id="content">
	<div id="editor" ui-codemirror="{ onLoad : codemirrorLoaded}" ui-codemirror-opts="editorOptions"></div>
	<userCursor ng-repeat="user in users | notme:this track by $index" 
		x="user.x" y="user.y" ng-style="{ backgroundColor: user.color }">
			<div class="userCursorName" ng-show="showNames" ng-style='{ backgroundColor: user.color }'>{{user.name}}</div>
	</userCursor>
</div>
<!-- END content -->


<!-- Selected Language -->
<input type="text" ng-model="selectedLanguage" class="language form-control" data-min-length=0
	typeahead="language.name for language in languages | filter:$viewValue" placeholder="{{currentLanguage}}"
	class="form-control" ng-blur="validateSelection()" typeahead-on-select="onSelect($item, $model, $label)">

<!-- side -->
<div id="side">

	<!-- chat -->
	<div id="chat-container">

		<div ng-click="showNames = !showNames" class="user-icon">
			<i class="fa fa-user fa-lg"></i>
			<span class="label label-success">{{who()}}</span>
		</div>

		<!-- chat messages -->
		<ul id="side-chat-messages" scroll-glue>
			<li ng-repeat="comment in comments track by $index" class="message" ng-class="comment.type" 
			ng-switch on="comment.type" ng-style="comment.color">

				<div ng-switch-default>
					<span class="userBlock" ng-style="{ backgroundColor: comment.color}" > </span>
					<span ng-bind-html="to_trusted(comment.text)">?</span>
				</div>

				<div ng-switch-when="sendMessage">
					<span class="userBlock" ng-style="{ backgroundColor: comment.color}"> </span>
					<span><b>{{comment.author}}</b> : </span>
					<span ng-bind-html="to_trusted(comment.text)">?</span>
				</div>

				<div ng-switch-when="scrollIntoView">
					<span class="userBlock" ng-style="{ backgroundColor: comment.color}"> </span>
					<span><b>{{comment.author}}: </b></span>
					<a ng-click="goToLine(comment.line)" ng-bind-html="to_trusted(comment.text)">?</a>
				</div>
			</li>
		</ul>
		<!-- chat input -->
		<input id="side-chat-input" ng-model="messageText" ng-keyup="messageEvent($event)" placeholder="Send Message" class="form-control"/>
	</div>
	<!-- END chat -->
</div>
<!-- END side -->

<!-- Modal -->
<script type="text/ng-template" id="modal.html">
	<!-- Header -->
	<div class="modal-header">
		<h3>Welcome to CodeSemble</h3>
	</div>
	<!-- Body -->
	<div class="modal-body">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="input-group">

					<input ng-model="username" autoFocus placeholder="Enter your name" type="text"
						ng-keyup="enter($event, username)" class="form-control">

					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="ok(username)" type="button">Ok</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Body -->
</script>